
 {{#each products as |product|}}
    

        <div class="card">
            <div class="card-topper {{product.type}}">
                <h4>{{product.type}}</h4>
            </div>
            <div class="card-body">
                <h3>{{product.quantity}} of {{product.product}}</h3>
                <input value={{product.id}} class="product_id"></input>
                <p>{{product.description}}</p>     
                <p>{{product.user.name}}</p>
                <input type="button" value="Send Message" class='renderMessageForm'>
            </div>
        </div>
    
{{/each}}

<script src="./js/message.js"></script>