 <h2 class="center"><i class="bi bi-shop"></i> Market</h2>
<div class="market-container">
 {{#each products as |product|}}
    <div class="market-card">
        <div class="card-header {{product.type}}">
                <h3>{{product.quantity}} of {{product.product}}</h3>
                <sup><strong>Category:</strong> <em>{{product.type}}</em></sup>
        </div>
        <div class="card-body">
            <input value={{product.id}} class="product_id hidden"></input>
            <p><strong>{{product.user.name}} says ...</strong> {{product.description}}</p>
        </div>
            
        <div class="card-footer">             
            <input type="button" value="Send Message" class='renderMessageForm btn btn-primary'>
            <p class="timestamp">Posted: {{product.createdAt}}</p>
        </div>
        </class>
    </div>      
{{/each}}
</div>
<script src="./js/message.js"></script>