 <h2>Welcome {{User.name}}</h2>

 {{#each Product}}
    <div class="card">
        <h4>{{type}}</h4> 
        <h3>{{quantity}} of {{product}}</h3>
        <p>Posted By: {{user_id}} - {{timestamps}}</p>
        <p>{{description}}</p>      
        </div>
{{/each}}