 {{#each Product}}
    <div class="card">
        <h4>{{type}}</h4> 
        <h3>{{quantity}} of {{product}}</h3>
        <p>Posted On: {{timestamps}}</p>
        <p>{{description}}</p>
        <button type="button" class="btn btn-danger"><i class="bi bi-eraser"></i> DELETE</button> 
        </div>
{{/each}}